<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <span>Business Model Canvas List</span>
</mat-toolbar>

<div>
    <div class="grid-container-create">
        <div style="flex: 2; margin-right: 10%;">
            <mat-list role="list" *ngFor="let businessModel of businessModels">
                <mat-list-item role="listitem" style="grid-auto-columns: auto auto;">
                    <div style="grid-column: 1; flex: 1;">
                        <span style="margin-right: 2%;">Designed for:</span>
                        <span>{{businessModel.name}}</span>
                    </div>

                    <div style="width: fit-content; grid-column: 2;">
                        <a routerLink="/bmcanvas-view" [state]="{data: businessModel}">
                            <button mat-button color="primary" (click)="passDataToOverlay(businessModel.name)">Edit</button>
                        </a>
                        <button mat-button color="primary" (click)="deleteBusinessModel(businessModel.id)">Delete</button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>

        <div style="flex: 2; align-self: center;">
            <h3>Create new Business Model Canvas</h3>
            <div id="form">
                <form formControlName="name" class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Design for" type="text" [value]="this.name" (input)="this.name = $event.target.value">
                    </mat-form-field>
                    <button mat-stroked-button color="primary" (click)="createNewBusinessModel()">Create</button>
                </form>
            </div>

        </div>
    </div>
</div>