<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <mat-toolbar-row id="header">
        <span>Business Model Canvas</span>
        <div style="margin: 2%;">
            <button mat-button color="basic" (click)="passData()">back</button>
        </div>
    </mat-toolbar-row>

    <!-- <mat-toolbar-row id="form-container">
        <form class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Design for</mat-label>
                <input matInput type="text" [value]="this.businessModelData.name" (input)="this.businessModelData.name = $event.target.value">
                <mat-icon matSuffix>border_color</mat-icon>
            </mat-form-field>
        </form>
    </mat-toolbar-row> -->
</mat-toolbar>


<div class="main-container">
    <div id="form-container">
        <form class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Design for</mat-label>
                <input matInput placeholder="Design for" type="text" [value]="this.businessModelData.name" (input)="this.businessModelData.name = $event.target.value">
                <mat-icon matSuffix>border_color</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div id="content-container">
        <mat-card class="bmc-card" [class.mat-elevation-z8]="true">
            <div class="grid-container">
                <div class="grid-container-top">
                    <mat-card [class.mat-elevation-z3]="true" class="item1">
                        <mat-card-title>Key Partners</mat-card-title>
                        <textarea style="height: 90%;" type="text" [value]="this.businessModelData.keyPartners" (input)="this.businessModelData.keyPartners = $event.target.value"></textarea>
                    </mat-card>

                    <mat-card [class.mat-elevation-z3]="true" class="item2">
                        <mat-card-title>Key Activities</mat-card-title>
                        <textarea style="height: 70%;" type="text" [value]="this.businessModelData.keyActivities" (input)="this.businessModelData.keyActivities = $event.target.value"></textarea>
                    </mat-card>

                    <mat-card [class.mat-elevation-z3]="true" class="item3">
                        <mat-card-title>Value Propositions</mat-card-title>
                        <textarea style="height: 90%;" type="text" [value]="this.businessModelData.valueProposition" (input)="this.businessModelData.valueProposition = $event.target.value"></textarea>
                    </mat-card>

                    <mat-card [class.mat-elevation-z3]="true" class="item4">
                        <mat-card-title>Customer Relationships</mat-card-title>
                        <textarea style="height: 70%;" type="text" [value]="this.businessModelData.customerRelationships" (input)="this.businessModelData.customerRelationships = $event.target.value"></textarea>
                    </mat-card>

                    <mat-card [class.mat-elevation-z3]="true" class="item5">
                        <mat-card-title>Customer Segments</mat-card-title>
                        <textarea style="height: 70%;" type="text" [value]="this.businessModelData.customerSegments" (input)="this.businessModelData.customerSegments = $event.target.value"></textarea>
                    </mat-card>
                    <mat-card [class.mat-elevation-z3]="true" class="item7">
                        <mat-card-title>Key Resources</mat-card-title>
                        <textarea style="height: 70%;" type="text" [value]="this.businessModelData.keyResources" (input)="this.businessModelData.keyResources = $event.target.value"></textarea>
                    </mat-card>

                    <mat-card [class.mat-elevation-z3]="true" class="item8">
                        <mat-card-title>Channels</mat-card-title>
                        <textarea style="height: 90%;" type="text" [value]="this.businessModelData.channels" (input)="this.businessModelData.channels = $event.target.value"></textarea>
                    </mat-card>
                </div>
                <div class="grid-container-bottom">
                    <mat-card [class.mat-elevation-z3]="true">
                        <mat-card-title>Cost Structure</mat-card-title>
                        <textarea style=" margin-left:2%; height: 65%; width: 95%;" type="text" [value]="this.businessModelData.costStructure" (input)="this.businessModelData.costStructure = $event.target.value"></textarea>
                    </mat-card>
                    <mat-card [class.mat-elevation-z3]="true" style="">
                        <mat-card-title>Revenue Streams</mat-card-title>
                        <textarea style=" margin-left:2%; height: 65%; width: 95%;" type="text" [value]="this.businessModelData.revenueStreams" (input)="this.businessModelData.revenueStreams = $event.target.value"></textarea>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>